
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.B0ShoutoutPage_mobilecontainer {
	padding: 5px 5px 5px 5px;
}
/* html_4 */
.B0ShoutoutPage_html_4 {
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	width: 100%; height: 100%;
}
div.B0ShoutoutPage_html_4 {
	overflow: auto;
}
/* mobilefooter */
.B0ShoutoutPage_mobilefooter {
	min-height:38px;
}
/* ShoutoutPopupName */
.B0ShoutoutPage_ShoutoutPopupName {
	width: 100%; height: 100%;
}
div.B0ShoutoutPage_ShoutoutPopupName {
	max-height: 100vh;
	box-sizing: border-box;
}
div.B0ShoutoutPage_ShoutoutPopupName .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* PopupLableName */
.B0ShoutoutPage_PopupLableName {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}